<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Skeleton: Responsive CSS Boilerplate</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet'
        type='text/css'>

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="dist/images/favicon.png">

</head>

<body>
    <nav class="navbar container flexSpacedBetween">
        <h3 class="hero-heading" style="margin:0">
            Example Page</h3>
        <button>Docs</button>
    </nav>
    <style>
        .navbar {
            padding: 3rem 0 2rem;
            align-items: center
        }

        .navbar:after,
        .flexSpacedBetween:after {
            content: none;
        }

        .flexSpacedBetween {
            display: flex;
            justify-content: space-between;
        }
    </style>
    <section class="section hero">
        <div class="container flexSpacedBetween" style="padding: 6rem 0">
            <h4 class="hero-heading">Embark
                on an epic journey!</h4>
            <a class="button button-primary" href="#">Start now!</a>
        </div>
    </section>
    <section class="section">
        <div class="container flexSpacedBetween" style="flex-direction: column">
            <p>&#60; Content1 &#62;</p>
            <img src="https://source.unsplash.com/VbqBM3D-gzE" style="max-width: 100%">
        </div>
    </section>
</body>

</html>